<div id="game_wrapper">

<!-- <div class="container container-fluid"> -->
	<%= render :partial => "shared/navbar" %>

	<div id="box">

		<!-- <div class="col-xs-md-10 col-md-push-1 col-md-6"> -->
			<div class="game_positioning">
				<div id="game"></div>
			</div>
		<!-- </div>  -->

		<!-- <div class="col-xs-md-12col-md-push-1 col-md-4"> -->
			<div class="chatbox">
				
				<iframe  class="mani" title="Shoutbox" src="http://shoutbox.widget.me/window.html?uid=il7vk216" frameborder="2" scrolling="auto"></iframe>
			</div>
		<!-- </div> -->
	
	</div>
</div>
