
@font-face {
	font-family: 'Munro Regular';
	src: font-url('Munro.ttf') format('truetype'),
		 font-url('MunroNarrow.ttf') format('truetype'),
		 font-url('MunroSmall.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}